_drafts/
_site/
.sass-cache/

# The following will be coming soon...

_posts/2019-07-23-extensions-are-lies.md
_posts/2019-08-14-number-systems-for-programming-part-1.md
images/ExtensionsAndLies/hxd_1.PNG
