_drafts/
_site/
.sass-cache/

# The following will be coming soon... Yeah Still...

_posts/2019-07-23-extensions-are-lies.md
_posts/2019-08-14-number-systems-for-programming-part-1.md
images/ExtensionsAndLies/hxd_1.PNG
images/ExtensionsAndLies/bg.jpg
images/ExtensionsAndLies/header.png
_posts/2019-10-23-infinity-and-the-ruckus-caused-by-it.md
images/Infinity/feature.jpg
