<form class="commentForm" method="POST" action="https://dev.staticman.net/v3/entry/github/sid200/blog/master/comments">
  <h2>Comment Here!</h2>

  <input name="options[redirect]" type="hidden" value="htpps://sid200.github.io/blog/{{ site.url }}">
  <input name="options[slug]" type="hidden" value="{{ page.slug }}">

  <p type="Name:" class="commentP">
    <input name="fields[name]" class="commentInput" required></input>
  </p>


  <p type="Email (optional):" class="commentP">
    <input name="fields[email]" type="email" class="commentInput"></input>
  </p>


  <p type="Message:" class="commentP">
    <textarea name="fields[message]" class="commentInput" style="overflow:hidden" required rows="10"></textarea>
  </p>


  <button type="submit" id="commentSend">Send</button>
</form>