{% assign commentSize = site.data.comments | where: "page", page.url %}
<h1 id="commentFeedTitle" style="color: #444; letter-spacing: 2px">Comments({{ commentSize.size }})</h1>

{% assign cmts = site.data.comments | where: "page", page.url | where: "part", page.part | where: "reply_to", "" | sort:"date" | reverse %}
{% for comment in cmts %}
  {% assign commentData = comment %}
  {% assign replies = site.data.comments | where: "page", page.url | where: "reply_to", commentData._id |where: "part", page.part%}

    <div class="commentElement">

      <div class="cHeader">
        <span class="cName">
            {{ commentData.name }}
        </span>

        <small class="cDate">
          on {{ commentData.date | date_to_long_string }}
        </small>

        &nbsp;

        <a class="cReply" href="#commentNew" onclick="document.getElementById('commentBoxTitle').innerText = `Reply To {{ commentData.name }}`;document.getElementById('comment-parent').value = '{{ commentData._id }}';document.getElementById('commentReplyCancel').style.display = 'block'">
          <small>Reply</small>
        </a>

      </div>

      <hr class="commentIdLine">

      <div class="cMessage">
          {{ commentData.message strip_html | markdownify | smartify  }}
      </div>
     
</div>

{% if replies %}
        {% for reply in replies%}
        <div class="replyElement">
              <div class="cHeader">
                <span class="cName">
                    {{ reply.name }}
                </span>
        
                <small class="cDate">
                  on {{ reply.date | date_to_long_string }}
                </small>
                
              </div>
        
              <hr class="commentIdLine">
        
              <div class="cMessage">
                  {{ reply.message strip_html | markdownify | smartify  }}
              </div>
            </div>
        {% endfor %}
      {% endif %}


{% endfor %}