<form class="commentForm" method="POST" action="https://dev.staticman.net/v3/entry/github/sid200/blog/master/comments">
  <h2 id="commentBoxTitle">Comment Here!</h2>

  <input name="options[redirect]" type="hidden" value="htpps://sid200.github.io/blog{{ page.url }}">
  <input name="fields[page]" type="hidden" value="{{ page.url }}">
  <input name="options[slug]" type="hidden" value="{{ page.slug }}">
  <input type="hidden" id="comment-parent" name="fields[reply_to]" value="">

  <p class="commentP">
    <input placeholder="Name" name="fields[name]" class="commentInput" required></input>
  </p>


  <p class="commentP">
    <input name="fields[email]" placeholder="Email (optional)" type="email" class="commentInput"></input>
  </p>


  <p class="commentP">
    <textarea name="fields[message]" placeholder="Message..." class="commentInput" rows="6" required ></textarea>
  </p>

  <span class="commentButtons" id="commentReplyCancel" onclick=cancelReply()>Cancel</span>
  <button type="submit" class="commentButtons">Send</button>
</form>

<script>
function cancelReply(){
  document.getElementById('commentReplyCancel').style.display='none';
  document.getElementById('commentBoxTitle').innerText='Comment Here!';
  document.getElementById('comment-parent').value='';
}
</script>