{% assign cmts = site.data.comments | where: "page", page.url %}
<h1 style="color: #444; letter-spacing: 2px">Comments({{ cmts.size }})</h1>

{% assign comments = site.data.comments | sort %}

{% for comment in comments reversed %}
  {% assign commentData = comment[1] %}
  {% if commentData.page %}
    {% if commentData.page == page.url %}


    <div class="commentElement">

      <div class="cHeader">
        <span class="cName">
            {{ commentData.name }}
        </span>

        <small class="cDate">
          on {{ commentData.date | date_to_long_string }}
        </small>

        &nbsp;

        <a class="cReply" href="#commentBoxTitle" onclick="document.getElementById('commentBoxTitle').innerText = `Reply To {{ commentData.name }}`;document.getElementById('comment-parent').value = '{{ commentData._id }}';document.getElementById('commentReplyCancel').style.display = 'block'">
          <small>Reply</small>
        </a>

      </div>

      <hr>

      <div class="cMessage">
          {{ commentData.message strip_html | markdownify | smartify  }}
      </div>
     
      
    </div>


    {% endif %}
  {% endif %}
{% endfor %}