<div class="se-pre-con"></div>

<nav id="dl-menu"  class="dl-menuwrapper" role="navigation">
	<button class="dl-trigger">Open Menu</button>
	<ul class="dl-menu">
		<li><a href="{{ site.url }}/">Home</a></li>
		<li>
			<a href="#">About</a>
			<ul class="dl-submenu">
				<li>
					<img src="{{ site.url }}/images/{{ site.owner.avatar }}" alt="{{ site.owner.name }} photo" class="author-photo">
					<h4>{{ site.owner.name }}</h4>
					<p>{{ site.owner.bio }}</p>
				</li>
				<li><a href="{{ site.url }}/about/"><span class="btn btn-inverse learn-more-btn">Learn More</span></a></li>
				{% if site.owner.email %}<li>
					<a href="mailto:{{ site.owner.email }}"><i class="fa fa-fw fa-envelope"></i> Email</a>
				</li>{% endif %}
				{% if site.owner.twitter %}<li>
					<a href="https://twitter.com/{{ site.owner.twitter }}"><i class="fa fa-fw fa-twitter"></i> Twitter</a>
				</li>{% endif %}
				{% if site.owner.facebook %}<li>
					<a href="https://facebook.com/{{ site.owner.facebook }}"><i class="fa fa-fw fa-facebook"></i> Facebook</a>
				</li>{% endif %}
				{% if site.owner.google_plus %}<li>
					<a href="https://google.com/{{ site.owner.google_plus }}"><i class="fa fa-fw fa-google-plus"></i> Google+</a>
				</li>{% endif %}
				{% if site.owner.linkedin %}<li>
					<a href="https://linkedin.com/in/{{ site.owner.linkedin }}"><i class="fa fa-fw fa-linkedin"></i> LinkedIn</a>
				</li>{% endif %}
				{% if site.owner.github %}<li>
					<a href="https://github.com/{{ site.owner.github }}"><i class="fa fa-fw fa-github"></i> GitHub</a>
				</li>{% endif %}
				{% if site.owner.stackexchange %}<li>
					<a href="{{ site.owner.stackexchange }}"><i class="fa fa-fw fa-stack-exchange"></i> Stackexchange</a>
				</li>{% endif %}
				{% if site.owner.instagram %}<li>
					<a href="https://instagram.com/{{ site.owner.instagram }}"><i class="fa fa-fw fa-instagram"></i> Instagram</a>
				</li>{% endif %}
				{% if site.owner.flickr %}<li>
					<a href="https://www.flickr.com/photos/{{ site.owner.flickr }}"><i class="fa fa-fw fa-flickr"></i> Flickr</a>
				</li>{% endif %}
				{% if site.owner.tumblr %}<li>
					<a href="http://{{ site.owner.tumblr }}.tumblr.com"><i class="fa fa-fw fa-tumblr"></i> Tumblr</a>
				</li>{% endif %}
			</ul><!-- /.dl-submenu -->
		</li>
		<li>
			<a href="#">Posts</a>
			<ul class="dl-submenu">
				<li><a href="{{ site.url }}/posts/">All Posts</a></li>
				<li><a href="{{ site.url }}/tags/">All Tags</a></li>
			</ul>
		</li>
		
		<!-- <li>
			<center><a id="darkModeText" onclick="setDarkMode()" style="cursor: pointer"></a></center>
		</li> -->

		{% for link in site.data.navigation %}
	    {% if link.url contains 'http' %}
	        {% assign domain = '' %}
	        {% else %}
	        {% assign domain = site.url %}
	    {% endif %}
	    <li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a></li>
	  {% endfor %}
	</ul><!-- /.dl-menu -->
</nav><!-- /.dl-menuwrapper -->

<ul class="darkModeBtn">
	<li>
		<center><a id="darkModeText" onclick="setDarkMode()" style="cursor: pointer"></a></center>
	</li>
</ul>

<script>

function fade(element) {
    setTimeout(()=>{
		$(`.${element.classList[0]}`).fadeOut();
		document.body.style.overflow = 'unset';
		document.body.style.position = 'unset';
	}, 1000);
}

window.addEventListener('load', function() {
		fade(document.getElementsByClassName('se-pre-con')[0]);
	});

	function setDarkMode(){
		if(localStorage.getItem('darkMode')){
			
			if(localStorage.getItem('darkMode')!=='true'){

				localStorage.setItem('darkMode', 'true');

				enableDarkMode();
				document.getElementById('darkModeText').innerHTML = '<img src="https://img.icons8.com/color/48/000000/smiling-sun.png">';

			}else{
				localStorage.setItem('darkMode', 'false');
				disableDarkMode();
				document.getElementById('darkModeText').innerHTML = '<img src="https://img.icons8.com/color/48/000000/full-moon.png">'
			}
		}else{
			localStorage.setItem('darkMode', 'true');
			document.getElementById('darkModeText').innerHTML = '<img src="https://img.icons8.com/color/48/000000/smiling-sun.png">';
			enableDarkMode();
		}
	}

	function disableDarkMode(){
	
	if(document.getElementsByClassName('entry-content') && document.body.getAttribute('id')!=='post-index'){
		document.getElementsByClassName('entry-content')[0].style.color = '';
		document.getElementsByClassName('entry-content')[0].style.backgroundColor = '';
	}

	for(let i = 0;i<document.getElementsByTagName('blockquote').length;i++){
		document.getElementsByTagName('blockquote')[i].style.backgroundColor = '';
	}

	document.body.style.backgroundColor = "";

	for(let i = 0;i<document.getElementsByClassName('hentry').length;i++){
		if(!document.getElementsByClassName('hentry')[i].classList.contains('postBG'))
			document.getElementsByClassName('hentry')[i].style.backgroundColor = '';
	}

	for(let i = 0;i<document.getElementsByTagName('a').length;i++){
		if(document.getElementsByTagName('a')[i].classList.contains('darkMode-noGray'))
			document.getElementsByTagName('a')[i].style.color = '';
			//Idk what I did here... This place is becoming a mess
		else
		document.getElementsByTagName('a')[i].style.color = '';
	}

	for(let i=0;i<document.getElementsByClassName('partTag').length;i++){
		document.getElementsByClassName('partTag')[i].style.color = '';
	}

	for(let i = 0;i<document.getElementsByClassName('mainPage-darkMode').length;i++){
			document.getElementsByClassName('mainPage-darkMode')[i].style.backgroundColor = '';
	}

	for(let i=0;i<document.getElementsByClassName('btn').length;i++){
		if(!document.getElementsByClassName('btn')[i].classList.contains('learn-more-btn')){
			document.getElementsByClassName('btn')[i].addEventListener("mouseover" , ()=>{
				document.getElementsByClassName('btn')[i].style.backgroundColor = '';
			});
			document.getElementsByClassName('btn')[i].addEventListener("mouseout" , ()=>{
				document.getElementsByClassName('btn')[i].style.backgroundColor = '';
			});
		}
	}

	for(let i=0;i<document.getElementsByClassName('meta-archive-list').length;i++){
			document.getElementsByClassName('meta-archive-list')[i].style.color = '';
	}

	for(let i=0;i<document.getElementsByClassName('current-page').length;i++){
		document.getElementsByClassName('current-page')[i].style.color = '';
	}

	for(let i = 0;i<document.getElementsByClassName('entry-content').length;i++){
		document.getElementsByClassName('entry-content')[i].style.color = '';
	}

	for(let i = 0;i<document.getElementsByTagName('code').length;i++){
		document.getElementsByTagName('code')[i].style.color = '';
	}

	for(let i=0;i<document.getElementsByClassName('read-more').length;i++){
		document.getElementsByClassName('read-more')[i].style.backgroundColor = '';
	}

	for(let i=0;i<document.getElementsByClassName('read-more-description').length;i++){
		document.getElementsByClassName('read-more-description')[i].style.color = '';
	}


	for(let i=0;i<document.getElementsByTagName('input').length;i++){
		document.getElementsByTagName('input')[i].style.color = "";
	}

	for(let i=0;i<document.getElementsByTagName('textarea').length;i++){
		document.getElementsByTagName('textarea')[i].style.color = "";
	}

	for(let i = 0;i<document.getElementsByClassName('continue-reading-readMore').length;i++){
		document.getElementsByClassName('continue-reading-readMore')[i].style.color = '';
	}

	if(document.getElementsByClassName('commentForm').length){
		document.getElementsByClassName('commentForm')[0].style.backgroundColor = "";
		document.getElementById('commentBoxTitle').style.color = "";
		document.getElementById('commentList').style.color = "";
		document.getElementById('commentsFeed').style.backgroundColor = "";
		document.getElementById('commentFeedTitle').style.color = "";
		document.getElementById('footerWebInfo').style.color = "";

		for(let i=0;i<document.getElementsByClassName('commentElement').length;i++){
			document.getElementsByClassName('commentElement')[i].style.borderColor = '';
		}

		for(let i=0;i<document.getElementsByClassName('replyElement').length;i++){
			document.getElementsByClassName('replyElement')[i].style.borderColor = '';
		}

		for(let i=0;i<document.getElementsByClassName('commentIdLine').length;i++){
			document.getElementsByClassName('commentIdLine')[i].style.borderColor = '';
		}
	}
}
	
	function enableDarkMode(){
	
	if(document.getElementsByClassName('entry-content') && document.body.getAttribute('id')!=='post-index'){
		document.getElementsByClassName('entry-content')[0].style.color = 'white';
		document.getElementsByClassName('entry-content')[0].style.backgroundColor = '#222';
	}

	for(let i = 0;i<document.getElementsByTagName('blockquote').length;i++){
		document.getElementsByTagName('blockquote')[i].style.backgroundColor = '#222';
	}

	document.body.style.backgroundColor = "#222";

	for(let i = 0;i<document.getElementsByClassName('hentry').length;i++){
		if(!document.getElementsByClassName('hentry')[i].classList.contains('postBG'))
			document.getElementsByClassName('hentry')[i].style.backgroundColor = '#444';
	}

	for(let i = 0;i<document.getElementsByTagName('a').length;i++){
		if(document.getElementsByTagName('a')[i].classList.contains('darkMode-noGray'))
			document.getElementsByTagName('a')[i].style.color = 'white';
		else
		document.getElementsByTagName('a')[i].style.color = 'gray';
	}

	for(let i = 0;i<document.getElementsByClassName('mainPage-darkMode').length;i++){
			document.getElementsByClassName('mainPage-darkMode')[i].style.backgroundColor = '#101010';
	}

	for(let i=0;i<document.getElementsByClassName('partTag').length;i++){
		document.getElementsByClassName('partTag')[i].style.color = 'white';
	}

	for(let i=0;i<document.getElementsByClassName('btn').length;i++){
		if(!document.getElementsByClassName('btn')[i].classList.contains('learn-more-btn')){
			document.getElementsByClassName('btn')[i].addEventListener("mouseover" , ()=>{
				document.getElementsByClassName('btn')[i].style.backgroundColor = '#000';
			});
			document.getElementsByClassName('btn')[i].addEventListener("mouseout" , ()=>{
				document.getElementsByClassName('btn')[i].style.backgroundColor = '#222';
			});
		}
	}

	for(let i=0;i<document.getElementsByClassName('meta-archive-list').length;i++){
			document.getElementsByClassName('meta-archive-list')[i].style.color = '';
	}

	for(let i=0;i<document.getElementsByClassName('current-page').length;i++){
		document.getElementsByClassName('current-page')[i].style.color = 'grey';
	}

	for(let i = 0;i<document.getElementsByClassName('entry-content').length;i++){
		document.getElementsByClassName('entry-content')[i].style.color = 'white';
	}

	for(let i = 0;i<document.getElementsByTagName('code').length;i++){
		document.getElementsByTagName('code')[i].style.color = 'black';
	}

	for(let i=0;i<document.getElementsByClassName('read-more').length;i++){
		document.getElementsByClassName('read-more')[i].style.backgroundColor = '#080401';
	}

	for(let i=0;i<document.getElementsByClassName('read-more-description').length;i++){
		document.getElementsByClassName('read-more-description')[i].style.color = '#aaa';
	}


	for(let i=0;i<document.getElementsByTagName('input').length;i++){
		document.getElementsByTagName('input')[i].style.color = "wheat";
	}

	for(let i=0;i<document.getElementsByTagName('textarea').length;i++){
		document.getElementsByTagName('textarea')[i].style.color = "wheat";
	}

	for(let i = 0;i<document.getElementsByClassName('continue-reading-readMore').length;i++){
		document.getElementsByClassName('continue-reading-readMore')[i].style.color = '#444';
	}

	if(document.getElementsByClassName('commentForm').length){
		document.getElementsByClassName('commentForm')[0].style.backgroundColor = "#101112";
		document.getElementById('commentBoxTitle').style.color = "wheat";
		document.getElementById('commentList').style.color = "white";
		document.getElementById('commentsFeed').style.backgroundColor = "#101112";
		document.getElementById('commentFeedTitle').style.color = "white";
		document.getElementById('footerWebInfo').style.color = "white";
		
		for(let i=0;i<document.getElementsByClassName('commentElement').length;i++){
			document.getElementsByClassName('commentElement')[i].style.borderColor = '#343435';
		}

		for(let i=0;i<document.getElementsByClassName('replyElement').length;i++){
			document.getElementsByClassName('replyElement')[i].style.borderColor = '#343435';
		}

		for(let i=0;i<document.getElementsByClassName('commentIdLine').length;i++){
			document.getElementsByClassName('commentIdLine')[i].style.borderColor = '#343435';
		}
	}
}

	window.onload = function(){
		if(localStorage.getItem('darkMode')){
			if(localStorage.getItem('darkMode')==='true'){
				enableDarkMode();
				document.getElementById('darkModeText').innerHTML = '<img src="https://img.icons8.com/color/48/000000/smiling-sun.png">';
			}else{
				document.getElementById('darkModeText').innerHTML = '<img src="https://img.icons8.com/color/48/000000/full-moon.png">';
			}
		}else{
			document.getElementById('darkModeText').innerHTML = '<img src="https://img.icons8.com/color/48/000000/full-moon.png">'
		}
	}

</script>